@model List<Medico>

<h3 class="espacamento-baixo">Cadastro de Médicos</h3>

<a asp-action="Cadastrar" asp-controller="Medico"
   class="btn btn-primary espacamento-baixo">Cadastrar</a>

<table class="table table-hover table-striped espacamento-baixo">
    <thead>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>CRM</th>
            <th>Criado em</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Medico medicoCadastrado in Model)
        {
        <tr>
            <td>@medicoCadastrado.Id</td>
            <td>@medicoCadastrado.Nome</td>
            <td>@medicoCadastrado.CRM</td>
            <td>@medicoCadastrado.CriadoEm.ToString("dd/MM/yyyy")</td>
<td>
                <a asp-action="Remover"
                   asp-controller="Medico"
                   asp-route-id="@medicoCadastrado.Id"
                   class="btn btn-danger">Remover</a>
            </td>
            <td>
                <a asp-action="Alterar"
                   asp-controller="Medico"
                   asp-route-id="@medicoCadastrado.Id"
                   class="btn btn-warning">Alterar</a>
            </td>
        </tr>}
    </tbody>
</table>

<p><b>Quantidade de médicos: </b> @Model.Count </p>
<p><b>Dados atualizados: </b> @DateTime.Now </p>
