@model List<PlanoSaude>

<h3 class="espacamento-baixo">Cadastro de Planos</h3>

<a asp-action="Cadastrar" asp-controller="PlanoSaude"
   class="btn btn-primary espacamento-baixo">Cadastrar</a>

<table class="table table-hover table-striped espacamento-baixo">
    <thead>
        <tr>
            <th>#</th>
            <th>Plano</th>
            <th>Codigo</th>
            <th>Criado em</th>
        </tr>
    </thead>
    <tbody>
        @foreach (PlanoSaude planosaudeCadastrado in Model)
        {
        <tr>
            <td>@planosaudeCadastrado.Id</td>
            <td>@planosaudeCadastrado.Plano</td>
            <td>@planosaudeCadastrado.Codigo</td>
            <td>@planosaudeCadastrado.CriadoEm.ToString("dd/MM/yyyy")</td>

            <td>
                <a asp-controller="PlanoSaude"
                   asp-action="Remover"
                   asp-route-id="@planosaudeCadastrado.Id"
                   class="btn btn-danger">Remover</a>
            </td>
            <td>
                <a asp-controller="PlanoSaude"
                   asp-action="Alterar"
                   asp-route-id="@planosaudeCadastrado.Id"
                   class="btn btn-warning">Alterar</a>
            </td>
        </tr>}
    </tbody>
</table>

<p><b>Quantidade de Planos de Saúde: </b> @Model.Count </p>
<p><b>Dados atualizados: </b> @DateTime.Now </p>
