@*Tecnologia de View - Razor *@

@model List<Produto>

    <h2 class="espacamento-baixo">Gerenciamento de Produtos</h2>

    <a asp-controller="Produto" class="btn btn-primary espacamento-baixo" asp-action="Cadastrar">Cadastrar Produto</a>

    <table class="table table-hover table-striped espacamento-baixo">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Quantidade</th>
                <th>Preço</th>
                <th>Imagem</th>
                <th>Criado Em</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody class="table-active">
            @foreach (Produto produdoCadastrado in Model)
            {
                <tr>
                    <td>@produdoCadastrado.Id</td>
                    <td>@produdoCadastrado.Nome</td>
                    <td>@produdoCadastrado.Descricao</td>
                    <td>@produdoCadastrado.Quantidade</td>
                    <td>@produdoCadastrado.Preco.ToString("C2")</td>
                    <td>
                        <img src="~/images/@produdoCadastrado.Imagem" alt="@produdoCadastrado.Descricao"
                             style="width:120px;height:100px"/>
                    </td> 
                    <td>@produdoCadastrado.CriadoEm.ToString("dd/MM/yyyy")</td>
                    <td>
                        <a asp-controller="Produto"
                            asp-action="Editar"
                            asp-route-id="@produdoCadastrado.Id">Editar</a>
                    </td>
                    <td>
                        <a asp-controller="Produto"
                            asp-action="Remover"
                            asp-route-id="@produdoCadastrado.Id">Remover</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <span>Quantidade de produtos: <b> @Model.Count</b></span><br />
    <span>Dados Atualizados: <b>@DateTime.Now</b></span>