@model List<Paciente>

<h3 class="espacamento-baixo">Cadastro de Pacientes</h3>

<a asp-action="Cadastrar" asp-controller="Paciente" class="btn btn-primary espacamento-baixo">Cadastrar</a>

<table class="table table-hover table-striped espacamento-baixo">
    <thead>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>RG</th>
            <th>Telefone</th>
            <th>Email</th>
            <th>Plano</th>
            <th>Criado em</th>

        </tr>
    </thead>
    <tbody>
        @foreach (Paciente pacienteCadastrado in Model)
        {
            <tr>
                <td>@pacienteCadastrado.Id</td>
                <td>@pacienteCadastrado.Nome</td>
                <td>@pacienteCadastrado.Cpf</td>
                <td>@pacienteCadastrado.Rg</td>
                <td>@pacienteCadastrado.Telefone</td>
                <td>@pacienteCadastrado.Email</td>
                <td>@pacienteCadastrado.PlanoSaude.Plano - @pacienteCadastrado.PlanoSaude.Codigo</td>
                <td>@pacienteCadastrado.CriadoEm.ToString("dd/MM/yyyy")</td>
                <td>
                    <a asp-controller="Paciente"
                       asp-action="Remover"
                       asp-route-id="@pacienteCadastrado.Id"
                       class="btn btn-danger">Remover</a>
                </td>
                <td>
                    <a asp-controller="Paciente"
                       asp-action="Alterar"
                       asp-route-id="@pacienteCadastrado.Id"
                       class="btn btn-warning">Alterar</a>
                </td>
                <td>
                    <a asp-controller="Paciente"
                       asp-action="Agendar"
                       asp-route-id="@pacienteCadastrado.Id"
                       class="btn btn-primary">Agendar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p><b>Quantidade de pacientes: </b> @Model.Count </p>
<p><b>Dados atualizados: </b> @DateTime.Now </p>

