@model List<Consulta>

<h3 class="espacamento-baixo">Lista de Consulta</h3>


<table class="table table-hover table-striped espacamento-baixo">
    <thead>
        <tr>
            <th>#</th>
            <th>DataConsulta</th>
            <th>HoraConsulta</th>
            <th>PacienteId</th>
            <th>MedicoId</th>
            @*<th>Criado em</th>*@

        </tr>
    </thead>
    <tbody>
        @foreach (Consulta consultaCadastrado in Model)
        {
            <tr>
                <td>@consultaCadastrado.Id</td>
                <td>@consultaCadastrado.DataConsulta.ToString("dd/MM/yyyy")</td>
                <td>@consultaCadastrado.HoraConsulta</td>
                <td>@consultaCadastrado.PacienteId</td>
                <td>@consultaCadastrado.MedicoId</td>
                @*<td>@consultaCadastrado.CriadoEm.ToString("dd/MM/yyyy")</td>*@
                <td>
                    <a asp-controller="Consulta"
                       asp-action="Alterar"
                       asp-route-id="@consultaCadastrado.Id"
                       class="btn btn-warning">Alterar</a>
                </td>
                <td>
                    <a asp-controller="Consulta"
                       asp-action="Prontuario"
                       asp-route-id="@consultaCadastrado.Id"
                       class="btn btn-primary">Prontuário</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p><b>Quantidade de pacientes: </b> @Model.Count </p>
<p><b>Dados atualizados: </b> @DateTime.Now </p>